/* --- Configurações Gerais --- */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
    background-color: var(--cor-bg-body);
    --cor-bg-body: #FB6B6B;
    --fonte-righteous: 'Righteous', cursive;
    --cor-titutlo-zap-recall: #fff;
    --cor-botao-iniciar: #D70900;
    --cor-nao-lembrei: #FF3030;
    --cor-quase-nao-lembrei: #FF922E;
    --cor-zap: #2FBE34;
    --cor-padrao: #333333;
    --cor-bg-flashcard: #fff;
    --cor-bg-flashcard-pergunta: #FFFFD5;
    --cor-texto-botoes-recall: #fff;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;

    cursor: pointer;
}

/* --- Tela Boas-Vindas --- */
.tela-boas-vindas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela-boas-vindas img {
    width: 136px;
    height: 161px;
}

.tela-boas-vindas h1 {
    font-family: var(--fonte-righteous);
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.012em;

    color: var(--cor-titutlo-zap-recall);
}

.tela-boas-vindas button {
    width: 246px;
    height: 54px;

    background: #fff;
    border: 1px solid var(--cor-botao-iniciar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--cor-botao-iniciar);

    margin-top: 30px;
}

/* --- Tela Recall --- */
header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: var(--cor-bg-body);
}

header img {
    width: 52px;
    height: 60px;
}

header h1 {
    font-family: var(--fonte-righteous);
    font-size: 36px;
    line-height: 45px;

    letter-spacing: -0.012em;

    color: var(--cor-titutlo-zap-recall);

    margin-left: 10px;

    transform: rotate(0.58deg);
}

/* --- Deck --- */
main.deck {
    margin-top: 130px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- Flash Cards --- */

article.flashcard {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 30px;
}

main article.flashcard:first-child {
    margin-top: 0px;
}

.flashcard.inicial, .flashcard.respondido {
    width: 300px;
    height: 65px;

    background-color: var(--cor-bg-flashcard);

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flashcard.inicial span, .flashcard.respondido span {
    font-weight: 700;

    font-size: 16px;
    line-height: 19px;

    color: var(--cor-padrao);

    margin-left: 15px;
}

.flashcard.inicial ion-icon, .flashcard.respondido ion-icon {
    font-weight: 700;
    font-size: 25px;

    margin-right: 15px;
}

.flashcard.inicial ion-icon {
    color: var(--cor-padrao);
}


.flashcard.perguntando, .flashcard.respondendo {
    width: 299px;
    min-height: 131px;

    background-color: var(--cor-bg-flashcard-pergunta);

    position: relative;
}

.flashcard.respondendo {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.flashcard.perguntando p, .flashcard.respondendo p {
    font-size: 18px;
    line-height: 22px;

    color: var(--cor-padrao);

    margin-left: 15px;
    margin-top: 18px;
    margin-right: 35px;

}

.flashcard.perguntando img {
    width: 30px;
    height: 20px;

    position: absolute;
    right: 15px;
    bottom: 6px;
}

.flashcard.respondendo .botoes-respostas {
    display: flex;
    justify-content: space-evenly;

    padding-top: 10px;
    margin-bottom: 6px;

}

.flashcard.respondendo .botoes-respostas button {
    width: 85px;
    height: 37px;

    border-radius: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: var(--cor-texto-botoes-recall);
}

button.nao-lembrei {
    background-color: var(--cor-nao-lembrei);
}

button.quase-nao-lembrei {
    background-color: var(--cor-quase-nao-lembrei);
}

button.zap {
    background-color: var(--cor-zap);
}

.flashcard.respondido span.nao-lembrei {
    color: var(--cor-nao-lembrei);
    text-decoration: line-through;
}

.flashcard.respondido span.quase-nao-lembrei {
    color: var(--cor-quase-nao-lembrei);
    text-decoration: line-through;
}

.flashcard.respondido span.zap {
    color: var(--cor-zap);
    text-decoration: line-through;
}


/* --- Progresso e Resultados --- */
footer.progresso-e-resultado {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    height: fit-content;

    background-color: #FFF;

}

footer span {
    font-size: 18px;
    line-height: 22px;
    color: var(--cor-padrao);
}

footer ion-icon {
    font-size: 23px;
}

/* --- Progresso ---*/
footer .progresso {
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- Resultado ---*/
footer .resultado {
    height: 170px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .resultado__titulo {
    display: flex;
    justify-content: center;
}

footer .resultado__titulo img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

footer .resultado__titulo h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: var(--cor-padrao);
}

footer .resultado__mensagem {
    width: 230px;
    text-align: center;
}

/* --- Lista de Icones --- */
footer .lista-icones {
    display: flex;
    justify-content: center;
}


/* Cores dos Ícones */
ion-icon[name="checkmark-circle"] {
    color: var(--cor-zap);
}

ion-icon[name="help-circle"] {
    color: var(--cor-quase-nao-lembrei)
}

ion-icon[name="close-circle"] {
    color: var(--cor-nao-lembrei);
}

/* --- Layout Desktop  ---*/
@media (min-width: 600px) {
    .tela-boas-vindas img {
        width: 180px;
        height: 210px;
    }

    .tela-boas-vindas h1 {
        font-size: 64px;
        line-height: 79px;
    }

    .tela-boas-vindas button {
        width: 280px;
        height: 60px;

        font-size: 26px;
        line-height: 30px;
        margin-top: 100px;
    }

    header {
        padding-top: 82px;
        padding-bottom: 80px;
    }

    header img {
        width: 87px;
        height: 100px;
    }

    header h1 {
        font-size: 64px;
        line-height: 79px;

        margin-left: 30px;
    }

    main.deck {
        margin-top: 290px;
        margin-bottom: 320px;
    }

    article.flashcard {
        margin-top: 20px;
    }

    .flashcard.inicial, .flashcard.respondido {
        width: 567px;
        height: 92px;
    }

    .flashcard.inicial span, .flashcard.respondido span {
        font-size: 24px;
        line-height: 29px;
        margin-left: 23px;
    }

    .flashcard.inicial ion-icon, .flashcard.respondido ion-icon {
        font-weight: 700;
        font-size: 36px;

        margin-right: 22px;
    }

    .flashcard.perguntando, .flashcard.respondendo {
        width: 567px;
    }

    .flashcard.perguntando p, .flashcard.respondendo p {
        font-size: 26px;
        line-height: 30px;

        margin-left: 23px;
        margin-top: 25px;
        margin-right: 42px;
    }

    .flashcard.perguntando img {
        width: 40px;
        height: 30px;
    }

    .flashcard.respondendo .botoes-respostas {
        padding-top: 20px;
        margin-bottom: 10px;

    }

    .flashcard.respondendo .botoes-respostas button {
        width: 120px;
        height: 60px;

        font-size: 20px;
        line-height: 22px;
    }

    footer .progresso {
        height: 120px;
    }

    footer .resultado {
        height: 300px;
    }

    footer ion-icon {
        font-size: 36px;
    }

    footer span {
        font-size: 32px;
        line-height: 38px;
    }

    footer .resultado__titulo img {
        width: 36px;
        height: 36px;
    }

    footer .resultado__titulo h3 {
        font-size: 32px;
        line-height: 38px;
    }

    footer .resultado__mensagem {
        width: 400px;

    }

}