/* --- Configurações Gerais --- */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
    background-color: #FB6B6B;
    --fonte-righteous: 'Righteous', cursive;
    --cor-titutlo-zap-recall: #fff;
    --cor-botao-iniciar: #D70900;
    --cor-nao-lembrei: #FF3030;
    --cor-quase-nao-lembrei: #FF922E;
    --cor-zap: #2FBE34;
    --cor-progresso-e-resultado: #333333;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Tela Boas-Vindas --- */
.tela-boas-vindas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela-boas-vindas img {
    width: 136px;
    height: 161px;
}

.tela-boas-vindas h1 {
    font-family: var(--fonte-righteous);
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.012em;

    color: var(--cor-titutlo-zap-recall);
}

.tela-boas-vindas button {
    width: 246px;
    height: 54px;

    background: #fff;
    border: 1px solid var(--cor-botao-iniciar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--cor-botao-iniciar);

    margin-top: 30px;
}

/* --- Tela Recall --- */
header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

header img {
    width: 52px;
    height: 60px;
}

header h1 {
    font-family: var(--fonte-righteous);
    font-size: 36px;
    line-height: 45px;

    letter-spacing: -0.012em;

    color: var(--cor-titutlo-zap-recall);

    margin-left: 10px;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- Progresso e Resultados --- */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    height: fit-content;

    background-color: #FFF;

}

footer span {
    font-size: 18px;
    line-height: 22px;
    color: var(--cor-progresso-e-resultado);
}

footer ion-icon {
    font-size: 23px;
}

/* --- Progresso ---*/
footer .progresso {
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- Resultado ---*/
footer .resultado {
    height: 170px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .resultado__titulo {
    display: flex;
    justify-content: center;
}

footer .resultado__titulo img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

footer .resultado__titulo h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: var(--cor-progresso-e-resultado);
}

footer .resultado__mensagem {
    width: 230px;
    text-align: center;
}

/* --- Lista de Icones --- */
footer .lista-icones {
    display: flex;
    justify-content: center;
}


/* Cores dos Ícones */
ion-icon[name="checkmark-circle"] {
    color: var(--cor-zap);
}

ion-icon[name="help-circle"] {
    color: var(--cor-quase-nao-lembrei)
}

ion-icon[name="close-circle"] {
    color: var(--cor-nao-lembrei);
}